/* Variables */
:root {
    --primary-black: #2c2b29;
    --secondary-black: #4b4847;

    --primary-white: #fbf5de;
    --second-white: #dbbe75;

    --primary-green: #769656;
    --second-green: #baca44;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
a {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Estilos generales */
header {
    background-color: var(--primary-green);
    height: 15vh;
}

main {
    height: 70vh;
    padding: 2em;
}

footer {
    background-color: var(--primary-green);
    height: 15vh;
}

/* Estilos info Jugador*/
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.info-jugador {
    width: 400px;
    height: 100%;

    padding: 1em;
    box-shadow: 1px 1px 11px #333;
    border-radius: 10px;
}

.img-jugador-container {
    width: 100px;
    height: auto;
}

.img-jugador-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Estilos Tablero*/
#tablero-container {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;

    width: fit-content;
}

.celda {
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
}

.celda.black {
    background-color: var(--second-white);
}

.celda.white {
    background-color: var(--primary-white);
}

.celda.seleccionada {
    outline: 3px solid var(--second-green);
    z-index: 10;
}
